/* Color */
.color-primary {
  color: #fd6e0a;
}

.section-title {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
}

.centre {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.dark-1 {
  color: #181818;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.secondary-bg {
  background-color: #fff8f3;
}

.margin-top-sm {
  margin-top: 30px;
}

.margin-top-md {
  margin-top: 130px;
}

.text-center {
  text-align: center;
}

/* Button */
.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 35px 19px 36px;
  border: none;
  border-radius: 5px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/*Header*/
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: #fff8f3;
}

/* Nav Style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 45px;
}

.nav-title span {
  color: #fd6e0a;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav ul a {
  color: #474747;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

nav ul a:visited {
  color: #474747;
}

/* Hero Section */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-weight: 800;
  font-size: 85px;
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
}

.banner-profile-pic {
  width: 584px;
  height: 676px;
}

.section-description {
  color: #757575;
}

/* Main Section */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* About Section */
.about {
  border-radius: 10px;
  padding: 131px 156px;
  margin-top: 130px;
  text-align: center;
}

.about-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item-title {
  font-size: 20;
  font-weight: 400;
}
.item-description {
  font-size: 20;
  font-weight: 700;
}

/* Skills Section */
.skills-container {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}

.skill {
  padding: 104px 33px 30px 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Resume Section */

.resume-container {
  display: flex;
  gap: 24px;
}

.resume .section-title {
  font-weight: 700;
  font-size: 35px;
}

.resume-column-title {
  font-weight: 700;
  font-size: 30px;
}

.experience-title {
  font-weight: 700;
  font-size: 25px;
}

.experience-sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
}

.experience-destination {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0px;
}

/* Footer Styles */
footer {
  margin-top: 113px;
  padding: 130px 230px;
  display: flex;
  gap: 117px;
}

.footer-column {
  width: 50%;
}

.footer-description {
  margin-top: 20px 0px 30px 0px;
  font-weight: 400;
  font-size: 16px;
}

input[type="text"] {
  width: 461px;
  height: 64px;
  margin-top: 12px;
  padding: 18px 30px;
}

input[type="email"] {
  width: 461px;
  height: 64px;
  margin-top: 24px;
  padding: 18px 30px;
}

textarea {
  margin: 24px 0px;
  width: 461px;
  height: 180px;
  padding: 18px 30px;
  display: block;
}

.icons {
  display: flex;
  gap: 24px;
}
